@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl font-bold lg:text-7xl;
  }
  h2 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h3 {
    @apply text-xl md:text-2xl;
  }
  h4 {
    @apply text-base md:text-lg;
  }

  @font-face {
    font-family: "Agency FB Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Agency FB Bold"), url("../fonts/AGENCYB.woff") format("woff");
  }

  @font-face {
    font-family: "No Surrender";
    font-style: normal;
    font-weight: normal;
    src: local("No Surrender"),
      url("../fonts/No Surrender.ttf") format("truetype");
  }

  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
  }
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  @apply flex items-center justify-between w-full max-w-3xl px-4 py-1 mx-auto my-0 2xl:max-w-5xl;
}

.sticky_nav {
  position: sticky;
  z-index: 10;
  top: 0;
}

.backdrop {
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

@supports not (backdrop-filter: none) {
  .backdrop {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.layout {
  @apply flex flex-col items-start justify-center max-w-4xl px-4 py-8 mx-auto 2xl:max-w-[95rem];
}

.side_layout {
  display: grid;
  grid-template-columns: 80px auto;
}

.vertical {
  writing-mode: vertical-lr;
  /* text-orientation: upright; */
}

.bg1 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/BG.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg2 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/bg-2\ 1.png");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg2_gif {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/bg-2\ 1.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg4 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/image\ 4.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #8833ff;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.btn_1 {
  border-bottom-right-radius: 20px 30px;
}

.strike{
  text-decoration: none;
}

.strike:hover{
  text-shadow:0 0 30px #00C2FF
}

.active{
  text-shadow:0 0 30px white
}
