@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl font-bold md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-6xl;
  }
  h2 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h3 {
    @apply text-sm md:text-base lg:text-lg;
  }
  h4 {
    @apply text-base md:text-lg;
  }

  p {
    @apply text-base md:text-lg;
  }

  @font-face {
    font-family: "Agency FB Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Agency FB Bold"), url("../fonts/AGENCYB.woff") format("woff");
  }

  @font-face {
    font-family: "No Surrender";
    font-style: normal;
    font-weight: normal;
    src: local("No Surrender"),
      url("../fonts/No Surrender.ttf") format("truetype");
  }
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  @apply flex items-center justify-between w-full max-w-3xl px-4 py-1 mx-auto my-0 2xl:max-w-5xl;
}

.sticky_nav {
  position: sticky;
  z-index: 10;
  top: 0;
}

.backdrop {
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

@supports not (backdrop-filter: none) {
  .backdrop {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.layout {
  @apply flex flex-col items-start justify-center max-w-3xl xl:max-w-4xl px-4 py-8 mx-auto 2xl:max-w-[78rem];
}

.side_layout {
  grid-template-columns: 90px auto;
}

.vertical {
  writing-mode: vertical-lr;
  /* text-orientation: upright; */
}

.bg1 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/BG.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg2 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/bg-2\ 1.png");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg2_gradient {
  background: linear-gradient(170deg, #000 30%, #5c1d5a);
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg2_gif {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/bg-2\ 1.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg3 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/image\ 4.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg3_gradient {
  background: linear-gradient(200deg, #5c1d5a, #000 70%);
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg4 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/image\ 4.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #8833ff;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.btn_1 {
  border-bottom-right-radius: 20px 30px;
}

.strike {
  text-decoration: none;
}

.strike:hover {
  text-shadow: 0 0 30px #00c2ff;
}

.active {
  text-shadow: 0 0 30px white;
}

.border_box {
  border: 50px solid transparent;
  padding: 10px;
  border-image: url(../public/images/border.png) 85 stretch;
}

.gradient_text {
  background: -webkit-linear-gradient(#00c2ff, #00ffc2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 15px;
}
.scrollbar::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #00c2ff, #00ffc2);
  border-radius: 16px;
  /* width: 10px; */
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #00c2ff;
  width: 15px;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

.a_underline a {
  text-decoration: underline;
  text-decoration-color: #00ffc2;
}
.scale_left {
  transform-origin: left;
}

.jtimeline,
.jtimeline * {
  box-sizing: border-box;
}
.jtimeline {
  max-width: 100%;
  position: relative;
  padding: 100px 200px;
  overflow: hidden;
}
.jtimeline .jtimeline-scroll-left,
.jtimeline .jtimeline-scroll-right {
  position: absolute;
  cursor: pointer;
  z-index: 20;
}
.jtimeline .jtimeline-scroll-left > .jtimeline-arrow,
.jtimeline .jtimeline-scroll-right > .jtimeline-arrow {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -25px;
  background-color: #555;
  color: #fff;
  border-radius: 999px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.jtimeline .jtimeline-scroll-left.is-disabled,
.jtimeline .jtimeline-scroll-right.is-disabled {
  opacity: 0.25;
  cursor: not-allowed;
}
.jtimeline .jtimeline-scroll-left {
  left: 10px;
}
.jtimeline .jtimeline-scroll-right {
  right: 10px;
}
.jtimeline ul.jtimeline-events {
  min-width: 100%;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translate(0, 0);
  transition: 0.5s ease-in-out;
}
.jtimeline ul.jtimeline-events:before {
  content: "";
  display: block;
  width: 50000px;
  height: 3px;
  background-color: #ccc;
  position: relative;
  left: -25000px;
}
.jtimeline ul.jtimeline-events > li.jtimeline-event {
  display: block;
  position: absolute;
  z-index: 10;
}
.jtimeline ul.jtimeline-events > li.jtimeline-event > .jtimeline-event-bullet {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 9999px;
  border-width: 3px;
  border-color: #0f87ff;
  border-style: solid;
  position: relative;
  top: -16.5px;
}
.jtimeline ul.jtimeline-events > li.jtimeline-event > .jtimeline-event-label {
  position: absolute;
  left: -85px;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fff;
}
.jtimeline
  ul.jtimeline-events
  > li.jtimeline-event
  > .jtimeline-event-label:after {
  content: "";
  display: block;
  width: 3px;
  height: 10px;
  background-color: #0f87ff;
  border-radius: 9999px;
  position: absolute;
  left: 98.5px;
}
.jtimeline
  ul.jtimeline-events
  > li.jtimeline-event:nth-child(odd)
  > .jtimeline-event-label {
  top: -126.5px;
  align-items: flex-end;
}
.jtimeline
  ul.jtimeline-events
  > li.jtimeline-event:nth-child(odd)
  > .jtimeline-event-label:after {
  bottom: -11px;
}
.jtimeline
  ul.jtimeline-events
  > li.jtimeline-event:nth-child(even)
  > .jtimeline-event-label {
  align-items: flex-start;
}
.jtimeline
  ul.jtimeline-events
  > li.jtimeline-event:nth-child(even)
  > .jtimeline-event-label:after {
  top: -17.5px;
}
.jtimeline ul.jtimeline-events > li.jtimeline-event:hover,
.jtimeline ul.jtimeline-events > li.jtimeline-event.is-active {
  z-index: 20;
}
.jtimeline
  ul.jtimeline-events
  > li.jtimeline-event:hover
  > .jtimeline-event-bullet,
.jtimeline
  ul.jtimeline-events
  > li.jtimeline-event.is-active
  > .jtimeline-event-bullet {
  border-color: #3abb67;
  background-color: #3abb67;
}
.jtimeline
  ul.jtimeline-events
  > li.jtimeline-event:hover
  > .jtimeline-event-label:after,
.jtimeline
  ul.jtimeline-events
  > li.jtimeline-event.is-active
  > .jtimeline-event-label:after {
  background-color: #3abb67;
}
