@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl font-bold md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-6xl;
  }
  h2 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h3 {
    @apply text-sm md:text-base lg:text-lg;
  }
  h4 {
    @apply text-base md:text-lg;
  }

  p {
    @apply text-base md:text-lg;
  }

  @font-face {
    font-family: "Agency FB Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Agency FB Bold"), url("../fonts/AGENCYB.woff") format("woff");
  }

  @font-face {
    font-family: "No Surrender";
    font-style: normal;
    font-weight: normal;
    src: local("No Surrender"),
      url("../fonts/No Surrender.ttf") format("truetype");
  }
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  @apply flex items-center justify-between w-full max-w-3xl px-4 py-1 mx-auto my-0 2xl:max-w-5xl;
}

.sticky_nav {
  position: sticky;
  z-index: 10;
  top: 0;
}

.backdrop {
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

@supports not (backdrop-filter: none) {
  .backdrop {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.layout {
  @apply flex flex-col items-start justify-center max-w-3xl xl:max-w-4xl px-4 py-8 mx-auto 2xl:max-w-[78rem];
}

.side_layout {
  grid-template-columns: 90px auto;
}

.vertical {
  writing-mode: vertical-lr;
  /* text-orientation: upright; */
}

.bg1 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/BG.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg2 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/bg-2\ 1.png");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg2_gradient {
  background: linear-gradient(170deg, #000 30%, #5c1d5a);
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg2_gif {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/bg-2\ 1.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg3 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/image\ 4.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg3_gradient {
  background: linear-gradient(200deg, #5c1d5a, #000 70%);
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg4 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/image\ 4.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg5 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/200.gif");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg6 {
  background: linear-gradient(0deg, rgba(2, 12, 24, 0.7), rgba(1, 12, 24, 0.7)),
    url("../public/images/bg3\ 1.png");
  /* background-color: black; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #8833ff;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.btn_1 {
  border-bottom-right-radius: 20px 30px;
}

.strike {
  text-decoration: none;
}

.strike:hover {
  text-shadow: 0 0 30px #00c2ff;
}

.active {
  text-shadow: 0 0 30px white;
}

.border_box {
  border: 50px solid transparent;
  padding: 10px;
  border-image: url(../public/images/border.png) 85 stretch;
}

.gradient_text {
  background: -webkit-linear-gradient(#00c2ff, #00ffc2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 15px;
}
.scrollbar::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #00c2ff, #00ffc2);
  border-radius: 16px;
  /* width: 10px; */
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #00c2ff;
  width: 15px;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

.a_underline a {
  text-decoration: underline;
  text-decoration-color: #00ffc2;
}
.scale_left {
  transform-origin: left;
}
